<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{site_name} Index</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/icon/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/icon_180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/icon/icon_167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icon/icon_152x152.png">
</head>
<body>
    <div><a href="../" class="header-link">戻る</a></div><br><br>
    <div style='display: flex; justify-content: space-between;'><h1>{site_name} Index</h1><button id='reset-localstorage-button'>ローカルストレージリセット</button></div>
    <div class="type-selector">
        <label for="typeSelect">表示タイプ: </label>
        <select id="typeSelect" onchange="filterByType()">
            <option value="all">すべて</option>
            <option value="novel">小説のみ</option>
            <option value="comic">漫画のみ</option>
        </select>
    </div>

    <div class="row-selector">
        <label for="rowsPerPageSelect">1ページあたりの行数: </label>
        <select id="rowsPerPageSelect" onchange="updateRowsPerPage()">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="150">150</option>
            <option value="200">200</option>
            <option value="0">すべて</option>
        </select>
    </div>

    <div style="display: flex; justify-content: space-between;">
        <div class="author-filter">
            <label for="author-filter-dropdown">作者絞り込み:</label>
            <select id="author-filter-dropdown" onchange="updateAuthorFilter(this.value)">
                <option value="">全て表示</option>
                </select>
        </div>
        <button id="reset-author-filter-button">作者絞り込みリセット</button>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <div class="hidden-author-filter">
            <span id="hidden-author-container"></span>
        </div>
        <button id="reset-hidden-authors-button">非表示作者リセット</button>
    </div>
    <br>
    <div class="selection-controls" style="margin-top: 1em;">
        <span id="selected-count">選択された件数: 0</span>
        <button id="copy-selected-button">選択項目のリンクをコピー</button>
    </div>
    <br>
    <div>
        <label>表示項目の選択</label>
        <div class="column-selector">
            <label><input type="checkbox" id="show-serialization" checked onclick="toggleColumn('serialization')"> 連載状況</label>
            <label><input type="checkbox" id="show-title" checked onclick="toggleColumn('title')"> タイトル</label>
            <label><input type="checkbox" id="show-author" checked onclick="toggleColumn('author')"> 作者名</label>
            <label><input type="checkbox" id="show-type" checked onclick="toggleColumn('type')"> 形式</label>
            <label><input type="checkbox" id="show-tags" checked onclick="toggleColumn('tags')"> タグ</label>
            <label><input type="checkbox" id="show-create_date" checked onclick="toggleColumn('create_date')"> 掲載日時</label>
            <label><input type="checkbox" id="show-update_date" checked onclick="toggleColumn('update_date')"> 更新日時</label>
        </div>
    </div>
    <br>

    <div class="tag-filter">
        <div style="display: flex; justify-content: space-between;">
            <div>
                <div id="include-tags"></div>
            </div>
            <button id="reset-include-tags-button">含むタグリセット</button>
        </div>
        <div style="display: flex; justify-content: space-between;">
            <div>
                <div id="exclude-tags"></div>
            </div>
            <button id="reset-exclude-tags-button">含まないタグリセット</button>
        </div>
    </div>

    <br>
    <br>

    <div id="loading-overlay">
        <div class="spinner"></div>
    </div>

    <table>
        <thead id="table-head">
            <tr>
                </tr>
        </thead>
        <tbody id="user-table-body">
            </tbody>
    </table>

    <div class="pagination">
        <button onclick="prevPage()">前へ</button>
        <span id="page-info">1 / 1</span>
        <button onclick="nextPage()">次へ</button>
    </div>

    <script src="/script/index.js"></script>
    <link rel="stylesheet" href="/css/common.css">
</body>
</html>
